.header-line{
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
.header-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #6eb76c;
    position: relative;
    z-index: 9999;
}
.line{
    width: 940px;
    height: 10px;
    background-color: #6eb76c;
    position: absolute;
    margin-left: 5px;
}
.header-content{
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header-content-item{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content-txt{
    font-size: 20px;
    color: #6eb76c;
    margin: 10px;
}
.header-content-btn{
    border: 2px solid #6eb76c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 100px;
    color: #6eb76c;
    border-radius: 5px;
    font-size: 16px;
}