.container{
    background-color: #fff;
    padding-bottom: 20px;
}
.select-nav{
    height: 60px;
    padding-left: 20px;
    background-color: #f9f9f9;
    border: 1px solid #bbbbbb;
    display: flex;
    align-items: center;
}
.select-tab{
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid #bbbbbb;
    border-top: 1px solid #fff;

}

.select-tab .item{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #009688;
    border: 1px solid #009688;
    border-radius: 4px;
    margin-left: 20px;
    padding: 0 15px;
    cursor: pointer;
}
.select-tab .item-this{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009688;
    color: #fff;
    border: 1px solid #009688;
    border-radius: 4px;
}
.select-hand{
    display: flex;
    justify-content: space-between;
    border: 1px solid #bbbbbb;
    border-top: 1px solid #fff;
}
.select-hand-left,.select-hand-right{
    display: flex;
    padding-right: 20px;
}
.select-hand-right button{
    margin: 10px 0;

}
.select-hand-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.select-hand-item input{
    width: 180px;
    margin-left: 10px;
}
.select-hand-txt{
    width: 90px;
    text-align: right;
}